// Primary Colors
$c-primary:#55c57a;
$c-primary-light:#7ed56f;
$c-primary-dark:#28b485;

// Text Colors
$light-grey_1:#f7f7f7;
$dark-grey:#777;
$white:#fff;
$black:#000;

// Grid
$grid-w: 114rem;
$gutter-v: 8rem;
$gutter-h: 6rem;

// Font Sizes
$default:1.6rem;