.heading-primary{
    color: $white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    
    &--main{
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3rem;
        animation: MoveInLeft .95s .075s ease-out;   
        
        @include resp(phone){
            letter-spacing: 1.5rem;
            font-size: 5rem;
        }
    }
    
    &--sub{
        display: block;
        font-weight: 700;
        font-size: 2.4rem;
        letter-spacing: 1.3rem;
        animation: MoveInRight .95s .075s ease-out;

        @include resp(phone){
            letter-spacing: .5rem;
            font-size: 2rem;
        }
    }
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:$dark-grey;
}

.heading-secondary{
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $c-primary-light, $c-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: none;
    color:transparent;
    transition: all .2s 0.05s;
    letter-spacing: 1.5px;

    @include resp(tab-port){
        font-size: 3rem;
    }

    @include resp(phone){
        font-size: 2.6rem;
    }

    &:hover{
        transform: skewY(2.5deg) skewX(15deg) scale(1.125);
        text-shadow: 3.25rem 2.5rem .5rem rgba($black,0.2);
    }
}

.heading-tertiary{
    font-size: $default;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}

.paragraph{
    font-size: $default;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}